.add-form {
  background-color: rgba(94, 175, 247, 0.7);
  height: 50%;
  width: 60%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #1f69ab;
}

.add-form h1 {
  color: #ffcc7a;
  -webkit-text-stroke: .5px #382300;
  text-align: center;
}

.add-form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin: 1%;
  width: 80%
}

.add-form input,
textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 5px;
  border: 1px grey solid;
  height: .5rem;
  width: 80%;
}

.add-form textarea {
  height: 5rem;
  width: 80%;
}

.add-form input::placeholder,
::placeholder {
  font-weight: lighter;
  color: lightgray;
}

.add-form li {
  color: #382300;
}

.add-buttons {
  display: flex;
}

.add-buttons button{
    margin: 0 1em;
  }
