.comment-container {
  max-width: inherit;
  padding: 1em 0;
  border-top: 1px solid black;
  display: flex;
}

.comment-container .fa-user {
  font-size: 2em;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.commentView-commentInfo {
  width: 90%;
}

.commentView-commentInfo-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentView-username,
.commentView-comment {
  margin: 0.25em 0;
  font-weight: 200;
  font-size: 0.75rem;
}

.commentView-elapsedTime{
  margin: 0;
  padding: 0;
  font-size: .625em;
  font-weight: 200;
}

.commentView-editComment {
  border: 0.5px grey solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 3.5em;
  width: 100%;
  margin: 2% 0 2% 0;
}

.commentView-editComment textarea {
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
  height: 3.5rem;
  width: 100%;
}

.commentView-editComment textarea:focus {
  outline: none;
}

.commentView-editCommentConfirm {
  color: green;
}

.commentView-editCommentCancel {
  color: maroon;
}

.commentView-editCommentConfirm,
.commentView-editCommentCancel {
  margin: 6% 0 6% 20%;
  font-size: .8em;
}

.commentView-editCommentConfirm:hover,
.commentView-editCommentCancel:hover{
  cursor: pointer;
}
