#add-checkin-form {
  background-color: rgba(94, 175, 247, 0.7);
  height: 50%;
  width: 70%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #1f69ab;
}

#add-checkin-marquee{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-coffee-form,
h1,
h2,
h6 {
  color: #ffcc7a;
  -webkit-text-stroke: 0.5px #382300;
  margin: .75rem 0 0 0;
}

#add-checkin-form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin: 1%;
}

#add-checkin-form input,
textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 5px;
  border: 1px grey solid;
  height: 1.5rem;
  width: 35em;
}

#add-checkin-form textarea {
  height: 5rem;
}

#add-checkin-form input::placeholder,
::placeholder {
  font-weight: lighter;
  color: lightgray;
}

#add-checkin-form li {
  color: #382300;
}

.add-buttons {
  display: flex;
}

.add-buttons button {
  margin: 0 1em;
}
