
#add-checkin-marquee{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form
h2,
h6 {
  color: #ffcc7a;
  -webkit-text-stroke: 0.5px #382300;
  margin: .25rem 0 0 0;
}

.add-form select{
  width: 85%;
  border-radius: 5px;
  height: 3em;
  text-align: center;
}

.add-buttons {
  display: flex;
}

.add-buttons button {
  margin: 0 1em;
}
