#checkin-list-container{
    background-color: #f7bd5e;
    border-radius: 10px;
    margin-top: 5em;
    width: 70%;
}

.fa-plus-square{
    color: white;
    margin: 2em 0 -.5em 2em;
    font-size: 1.5rem;
}

.checkin-detail{
    background-color: #ffcc7a;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #382300;
    margin: 2em;

}

.checkin-detail-info{
    padding: 2em;
    display: flex;
    align-items: center;
}

.checkin-date{
    font-size: .75rem;
    margin: 1em;
}

.fa-map-pin{
    font-size: 2em;
    color: #1f69ab;
    margin: 0 1em 0 .5em;
}
