#checkin-list-container{
    background: linear-gradient(#ffcc7a, #f7bd5e);
    border-radius: 10px;
    margin-top: 5em;
    width: 60%;
}

.checkin-detail{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #382300;
    margin: 2em;

}

.checkin-card {
    display: flex;
    flex-direction: column;

}

.checkin-detail-info{
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.checkin-detail-info-sub{
    display: flex;
    align-items: center;
}

.checkin-detail-info p{
    margin: .5em;
}

.checkin-date{
    font-size: .75rem;
    margin: 1em;
}

.fa-map-pin{
    color: #1f69ab;
    margin: 0 1em 0 .5em;
}

.fa-comments{
    margin: 0 1em;
    align-self: right;
}
