@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    background-image: url(https://res.cloudinary.com/dd1ndszow/image/upload/v1638736371/Roasted/roasted-home-background_k0oxhj.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root{
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
