.navbar-links {
  width: 90%;
  display: flex;
  justify-content: right;
  text-decoration: none;
  list-style-type: none;
  height: fit-content;
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: #ffcc7a;
  padding: 0.75rem;
  margin: 5em 1.5em;
  border: 1px solid #ffcc7a;
  border-radius: 5px;
  transition: all 1s ease;
}

a:hover {
  background-color: #1f69ab;
  color: white;
}

button {
  text-decoration: none;
  color: #ffcc7a;
  padding: 0.75rem;
  border: 1px solid #ffcc7a;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
  transition: all 1s ease;
}

button:hover {
  cursor: pointer;
  background-color: #1f69ab;
  color: white;
}
