#login-form {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-logo {
  width: 40%;
}

#login-logo::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.login-text {
  color: black;
  font-family: 'Roboto', sans-serif;
}

#roasted-name {
  font-size: 5vw;
}

#roasted-tagline {
  font-size: 1vw;
  margin: .5rem 0 2rem 0;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.login-input input {
  border: 1px grey solid;
  border-radius: 5px;
  height: 1.5rem;
  width: 20em;
}

#login-button {
  height: 2.5em;
  width: 12em;
  color: #1f69ab;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  background-color: #f7bd5e;
  border-radius: 5px;
  margin: .5rem;
}


